
<div class="header">
	<center><%= image_tag "logo.png", :class => "img-responsive" %></center>
</div>
<br><br>

<% if user_signed_in? %>
<h3>Welcome back <%= current_user.email %>.</h3>
<p>Ready to make a difference?</p>
<br>
	<div class="row">
		<div class="col-md-offset-1 col-md-10">

			<h4>Recent ideas based on your interests</h4>
		</div>
	</div>

	<div class="row">
		<div class="col-md-offset-2 col-md-10">
			<h6><%= @rand.title %></h6>
			<p><%= @rand.description %></p>
			<p class="beneath">This project is taking place in <%= @rand.location %></p>
		</div>
	</div>
	<div class="row red cf">
		<div class="col-md-offset-1 col-md-9">
			<h4><%= rand_question %></h4>
			<input type="text" value="" class="form-control">
		</div>
	<div class="row">
		<div class="col-md-6 floater">
			<button class="btn btn-md btn-primary">Contribute</button>

			<button class="btn btn-md btn-inverse">Dig Deeper</button>
			<button class="btn btn-md btn-warning">Next Project</button>
		</div>

	</div>
</div>

<br><br>
<% end %>

	<div class="row">
			<div class=" col-md-6">
		<h2>I'm interested in </h2>
		<select name="interestlist" value="Save the World" class="select-block" style="display: none;">
            <option value="0" selected="selected">Saving the World</option>
            <option value="1">Chemistry</option>
            <option value="2">Photography</option>
            <option value="3">Social Service</option>
          </select>
				<div class="btn-group select select-block">
					<i class="dropdown-arrow dropdown-arrow-inverse"></i>
					<button class="btn dropdown-toggle clearfix btn-primary" data-toggle="dropdown"><span class="filter-option pull-left">Saving the World</span>&nbsp;<span class="caret">
					</span></button>
						<ul class="dropdown-menu dropdown-inverse" role="menu" style="overflow-y: auto; min-height: 111px; max-height: 141px;">
							<li rel="0" class="selected">
								<a href="#" class="active">
									<span tabindex="-1" class="pull-left">Saving the World</span>
								</a>
							</li>
							<li rel="1">
								<a href="#" class="">
									<span tabindex="-1" class="pull-left">Chemistry</span>
								</a>
							</li>
							<li rel="2">
								<a href="#" class="">
									<span tabindex="-1" class="pull-left">Photography</span>
								</a>
							</li>
							<li rel="3">
								<a href="#" class="">
									<span tabindex="-1" class="pull-left">Social Service</span>
								</a>
							</li>
						</ul>
					</div>
				</div>



			<div class=" col-md-6">
				<h2>I live </h2>

				<input type="text" value="" class="form-control large">
			</div>
		</div>


<br><br>



<div class="row">
	<div class="col-md-6">
		<h4>Idea Sparks</h4>
		NEWS
	</div>


	<div class="col-md-6">
		<h4>Projects</h4>

		<ul>
			<% @ideas.each do |idea| %>
				<li><%= link_to idea.title, idea %>
					<p><%= idea.description %>
					<p><%= idea.location %>
				</li>
			<% end %>
		</ul>

	</div>
</div>

<div class="row">
	<div class="col-md-6">
		<h4>No Project Too Silly</h4>

		<%= render "form" %>
	</div>
</div>


