<div class="row header">
	<div class="col-md-3">
		<%= image_tag @idea.image_url(:thumb).to_s %>
	</div>
	<div class="col-md-9">
		<h3 class="red"><%= @idea.title %></h3>
		<p><%= @idea.description %></p>
		<p><%= @idea.location %></p>
	</div>
</div>
<br><br>

<div class="row">
	<div class="col-md-8">
		<h4 class="bold">What I'm doing now</h4>
		<p><%= link_to "Add Idea Update", new_idea_status_path(@idea), :class => "btn btn-sm btn-primary" %></p>

		<ul id='statuses'>
		 	<%= render @statuses %>
	  </ul>
	</div>
	<div class="col-md-4">
		<h4 class="bold">Resources</h4>
		<p><%= link_to "Share Resources", new_idea_link_path(@idea), :class => "btn btn-sm btn-primary" %></p>
				<% @links.each do |link| %>
			 		<h6 class="bold"><a href="<%= link.link %>"><%= link.title %></a></h6>
					<ul><p><%= link.content %></p></ul>

				<% end %>
	</div>
</div>

<div class="row">
	<div class="col-md-8">
		<%= render "comments/form" %>
		<%= render "comments/index" %>
	</div>

	<div class="col-md-4">
		<h3>Contributors</h3>
			<p><%= link_to "Join this Idea", idea_path, :class => "btn btn-sm btn-inverse" %></p>
	</div>
</div>