<div class="row header">
	<div class="col-md-3">
		<%= image_tag @idea.image_url(:thumb).to_s %>
	</div>
	<div class="col-md-9">
		<h3 class="red"><%= @idea.title %></h3>
		<p><%= @idea.description %></p>
		<p><%= @idea.location %></p>
	</div>
</div>
<br><br>

<div class="row">
	<div class="col-md-8">
		<h4 class="bold">What I'm doing now</h4>
		<p><%= link_to "Add Idea Update", new_idea_status_path(@idea), :class => "btn btn-sm btn-primary" %></p>
		<br>
		<h6 class="bold"a>Update #3 - Computers in the Classroom</h6>
		<p>Our group's tutoring program is still growing!
		<iframe width="560" height="315" src="//www.youtube.com/embed/LluZ7tWxsn0" frameborder="0" allowfullscreen></iframe><br>
		It's been so much fun to work with the school district and set up this program. Recently we've begun to incorporate old computers donated through the drives we set up last week, and the students are very excited, especially since many of them don't have access to those resources at home.
		</p><br><br>

		<h6 class="bold">Update #2 - Tutoring Started Today</h6>
		<p>
			Our tutoring program finally started today. Below is a recording of students collaborating that we took with our phones! How cool is that? The school district has been so helpful and we're so excited about the progress we've made organizing this program.
			<iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F71858770"></iframe>
		</p>

		<ul id='statuses'>
		 	<%= render @statuses %>
	  </ul>
	</div>
	<div class="col-md-4">
		<h4 class="bold">Resources</h4>
		<p><%= link_to "Share Resources", new_idea_link_path(@idea), :class => "btn btn-sm btn-primary" %></p>
				<% @links.each do |link| %>
			 		<h6 class="bold"><a href="<%= link.link %>"><%= link.title %></a></h6>
					<ul><p><%= link.content %></p></ul>

				<% end %>
	</div>
</div>

<div class="row">
	<div class="col-md-8">
		<%= render "comments/form" %>
		<%= render "comments/index" %>
	</div>

	<div class="col-md-4">
		<h3>Contributors</h3>
			<p><%= link_to "Join this Idea", idea_path, :class => "btn btn-sm btn-inverse" %></p>

			<p class="row">
				<div class="col-md-4">
					<img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSXNpZ4xE1QON686Fkx5RGBxGuxVMOUN2K8LX7p_C8RXdCE_CDw8nw7uQ">
				</div>
				<div class="col-md-6">
					Allison Cabot
					<p class="beneath">Educator & Mentor</p>
				</div>
			</p>
			<p class="row">
				<div class="col-md-4">
					<img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcT1wdBzi3n5MCJdL7C0wj40r411p4vsstIj4gGapJCjRoyN0_bmQFEWug">
				</div>
				<div class="col-md-6">
					Chris Madden
					<p class="beneath">Student looking to tutor others</p>
				</div>
			</p>
			<p class="row">
				<div class="col-md-4">
					<img width="80px" src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSfEdenGi8_kU3d3NNtAUV_Xt6ZBsHodh5yAboFhZ_MSU9WyJl_">
				</div>
				<div class="col-md-6">
					Diana Atalla
					<p class="beneath">Administrative Super-hero</p>
				</div>
			</p>


	</div>
</div>