<%= form_for [@rand, @comment] do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <h4><%= rand_question %></h4>
  <div class="field">
    <%= f.label :comment %><br>
    <%= f.text_field :comment, :class => "form-control" %>
  </div></br>
  <div class="actions">
    <%= f.submit "Contribute", :class => "btn btn-md btn-primary", :name => "commit", :value => "Contribute" %>
    <%= f.submit "Dig Deeper", :class => "btn btn-md btn-inverse", :name => "commit", :value => "Dig Deeper" %>
<% end %>
    <%= link_to "Next Project", next_path(@user), :class => "btn btn-md btn-warning", :method => "POST" %>
  </div>