<div class="navbar navbar-inverse">

			<div class="container centered_down">
				<% if user_signed_in? %>
            <span class="white" id="email" style="float: left;">
              Logged in as <strong><%= current_user.email %></strong>
            </span>
          <% end %>

          <ul class="navbar-right" id="actions">
          <% if user_signed_in? %>
         		<%= link_to 'Home', ideas_path %> |
            <%= link_to 'View profile', user_path(current_user) %> |
            <%= link_to 'Edit profile', edit_user_registration_path %> |
            <%= link_to "Logout", destroy_user_session_path, method: :delete %>
          <% else %>
            <%= link_to "Sign up", new_user_registration_path %> |
            <%= link_to "Login", new_user_session_path %>
          <% end %>
        </ul>

		</div>
	</div>